<input class="form-control" type="hidden" name="interactionHoleToValidated" value="{{ interactionToDisplayed.id }}"/>
<input class="form-control" type="hidden" name="interactionToValidated" value="{{ interactionToDisplayed.interaction.id }}"/>
<input class="form-control" type="hidden" name="typeInteraction" value="InteractionHole"/>

{% include "UJMExoBundle:Partial:interactionPaper.html.twig" %}

<input type="hidden" id="type_question" value="hole" />
<div id="interHoleResponse">
    {{ interactionToDisplayed.htmlWithoutValue | raw }}
    {% if response != '' %}
        <script type="text/javascript">
            $(document).ready(function () {
                paperResponseHole('{{ response|raw }}');
            });
        </script>
    {% endif %}
</div>
                
{% include "UJMExoBundle:Partial:grammar/showFunctionalInstructions.html.twig" %}

<span class="general-feedback" style="display: none;"><h3 class="panel-title">{{ 'expected_answer' | trans({}, 'ujm_exo') }}</h3>
<div id="eAnswer" >{{ interactionToDisplayed.html|raw }}</div></span>

<span class="general-feedback" style="display: none;">{{ interactionToDisplayed.interaction.feedback|raw }}</span>

{% include "UJMExoBundle:Partial:hintPaper.html.twig" %}

<input type="hidden" name="testQCM" value="testQCM" />
<input type="hidden" name="interaction" value="{{ interactionToDisplayed.id }}"/>
