{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/ujmexo/css/matchingOverview.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/ujmexo/css/graphic.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %} {{ 'paper' | trans({}, 'ujm_exo') }} {% endblock %}

{% block resourceBreadcrumb %}
    <li><a href="{{ path('claro_resource_open', { 'resourceType': _resource.resourceNode.resourceType.name(), 'node': _resource.resourceNode.id }) }}">{{ _resource.getResourceNode().getName() }}</a></li>
    <li class="active">{{ 'n_question' | trans({}, 'ujm_exo') }}{{numQ}}</li>
{% endblock %}

{% block section_content %}
    <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/paper.js') }}"></script>

    <div class="panel-heading">
        <h3 class="panel-title">{{ _resource.getResourceNode().getName() }}
            <span style="float:right;">
                {% if(maxAttempsAllowed > 0) %}
                    {{ "attempt_info1" | trans({}, 'ujm_exo') }} {{ maxAttempsAllowed }}
                    {% if(maxAttempsAllowed > 1) %}
                        {{ "attempt_info2plur" | trans({}, 'ujm_exo') }}
                    {% else %}
                        {{ "attempt_info2sing" | trans({}, 'ujm_exo') }}
                    {% endif %}
                     -
                {% endif %}
                {{ "attempt_info3" | trans({}, 'ujm_exo') }} {{ numAttempt }}
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <form action="{{ path('ujm_exercise_paper_nav') }}" method="post" name="formResponse" id="formResponse">
            <input type="hidden" name="numQuestionToDisplayed" id="numQuestionToDisplayed" value=""/>
                {% include "UJMExoBundle:Partial:exercise/#{interactionType}.html.twig" %}         
        </form>
    </div>
    {#--------------------------------------------------- Pagination ----------------------------------------------------#}

    <!--div class="text-center panel-footer">
        {#% set indexMax = 1 %}
        <ul class="pagination">
            {% if numQ != 1 %}
                <li>
                    <a href="#" onClick="submitForm(1, '{{ interactionType }}');">
                        <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a></li>
                <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
            {% endif %}

            {% for interactionID in tabOrderInter %}
                {% if loop.index != numQ %}
                    <li><a href="#" onClick="submitForm({{ loop.index }}, '{{ interactionType }}');">{{ loop.index }}</a></li>
                    {% set indexMax = loop.index %}
                {% else %}
                    <li class="active"><a href="#">{{ loop.index }}</a></li>
                    {% set indexMax = loop.index %}
                {% endif %}
            {% endfor %}

            {% if numQ != indexMax %}
                <li>
                    <a href="#" onClick="submitForm({{ numQ+1 }}, '{{ interactionType }}');">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" onClick="submitForm({{ indexMax }}, '{{ interactionType }}');">
                        <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a></li>
            {% endif %}

            {% if dispButtonInterrupt %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>
                    <input type="button" value="{{ "interupt" | trans({}, 'ujm_exo') }}" onClick="interupt('{{ interactionType }}');" class="btn btn-primary"/>
                </li>
            {% endif %}
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            {% if numQ == indexMax %}
                <li>
                    <input type="button" value="{{ "finish" | trans({}, 'ujm_exo') }}" onClick="finish('{{ interactionType }}', '{{ 'alert_ending' | trans({}, 'ujm_exo') }}');"
                        class="btn btn-primary"/>
                </li>
            {% endif %#}
        </ul>
    </div-->

    <div class="text-center panel-footer">
        {% set indexMax = 1 %}

        {% for interactionID in tabOrderInter %}
            {% set indexMax = loop.index %}
        {% endfor %}
        
        <span id="set-feedback" class="btn btn-primary" style="margin-bottom: 5px;">{{ 'feedback_get' | trans({}, 'ujm_exo') }}</span>

        <ul class="pagination" style="display: none;">

            {% if numQ == indexMax and numQ == 1 %}
                <li>
                    <input type="button" value="{{ "finish" | trans({}, 'ujm_exo') }}" onClick="finish('{{ interactionType }}');"
                        class="btn btn-primary"/>
                </li>
            {% else %}

                {% if numQ == 1 %}
                    <li class="disabled"><a href="#" onclick="event.preventDefault();"><i class="fa fa-chevron-left"></i> &nbsp; {{ 'previous' | trans({}, 'ujm_exo') }}</a></li>
                    <li>
                        <a href="#" onClick="submitForm({{ numQ+1 }}, '{{ interactionType }}');">
                            {{ 'next' | trans({}, 'ujm_exo') }} &nbsp; <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}

                {% if numQ == indexMax %}
                    <li>
                        <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">
                            <i class="fa fa-chevron-left"></i> &nbsp; {{ 'previous' | trans({}, 'ujm_exo') }}
                        </a>
                    </li>
                    <li class="disabled"><a href="#" onclick="event.preventDefault();">{{ 'next' | trans({}, 'ujm_exo') }} &nbsp; <i class="fa fa-chevron-right"></i></a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <input type="button" value="{{ "finish" | trans({}, 'ujm_exo') }}" onClick="finish('{{ interactionType }}');"
                            class="btn btn-primary"/>
                    </li>
                {% endif %}

                {% if numQ != indexMax and numQ != 1 %}
                    <li>
                        <a href="#" onClick="submitForm({{ numQ-1 }}, '{{ interactionType }}');">
                            <i class="fa fa-chevron-left"></i> &nbsp; {{ 'previous' | trans({}, 'ujm_exo') }}
                        </a>
                    </li>
                    <li>
                        <a href="#" onClick="submitForm({{ numQ+1 }}, '{{ interactionType }}');">
                            {{ 'next' | trans({}, 'ujm_exo') }} &nbsp; <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            {% if dispButtonInterrupt %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li>
                    <input type="button" value="{{ "interupt" | trans({}, 'ujm_exo') }}" onClick="interupt('{{ interactionType }}');" class="btn btn-primary"/>
                </li>
            {% endif %}
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

            <li>
                <select id="Qnumber" onchange="submitForm(this.options[this.selectedIndex].value, '{{ interactionType }}');">
                    {% for interactionID in tabOrderInter %}
                        <option value="{{ loop.index }}">{{ 'n_question' | trans({}, 'ujm_exo') }}{{ loop.index }} / {{ tabOrderInter | length }}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    
    <script type="text/javascript">
        $('#set-feedback').on('click', function(e) {
            $(".general-feedback").show();
            
            $(".pagination").show();
            $("#set-feedback").hide();
            
            if (document.getElementById('type_question').value === "qcm") {
                getQcmFeedback();
            }
            else if (document.getElementById('type_question').value === "hole") {
                getHoleFeedback();
            }
            else if (document.getElementById('type_question').value === "graph") {
                getGraphFeedback();
            }
            else if (document.getElementById('type_question').value === "match") {
                getMatchFeedback();
            }
            else if (document.getElementById('type_question').value === "open") {
                getOpenFeedback();
            }
        });
        
        function getQcmFeedback() {
            var inputs, index;

            var inputs1 = document.getElementsByName('choice');
            var inputs2 = document.getElementsByName('choice[]');
            if (inputs1.length !== 0) {
                inputs = inputs1;
            }
            else {
                inputs = inputs2;
            }
            
            var img, result_img;
            for (index = 0; index < inputs.length; ++index) {
                img = document.getElementById('img' + inputs[index].value);
                result_img = document.getElementById('resultimg' + inputs[index].value);
                if (result_img.src.substr(-6,2) === "on" && inputs[index].checked) {
                    document.getElementById('img' + inputs[index].value).src = img.src.replace("off.gif", "on.gif");
                }
                else if (result_img.src.substr(-6,2) === "ff" && inputs[index].checked) {
                    document.getElementById('img' + inputs[index].value).src = img.src.replace("off.gif", "on_red.gif");
                }
                
            //    document.getElementById(inputs[index].id).disabled = true;
            }
        }
        
        function getHoleFeedback() {
            var exists = true;
            var inputs;
            var i=1;
            while (exists) {
                inputs = document.getElementsByName('blank_' + i);
                console.log(inputs);
                console.log(inputs[0].nodeName);
                
                if (inputs[0].nodeName === "INPUT") {
                    if (inputs[0].value === inputs[1].value) {
                        document.getElementsByName('blank_' + i)[0].style.color = "#00E900";
                    }
                    else {
                        document.getElementsByName('blank_' + i)[0].style.color = "#F30000";
                    }
                }
                else {
                    if (inputs[0].options[inputs[0].selectedIndex].text === inputs[1].value) {
                        document.getElementsByName('blank_' + i)[0].style.color = "#00E900";
                    }
                    else {
                        document.getElementsByName('blank_' + i)[0].style.color = "#F30000";
                    }
                }

                document.getElementsByName('blank_' + i)[1].style.color = "#2289B5";/*
                document.getElementsByName('blank_' + i)[0].disabled = true;
                document.getElementsByName('blank_' + i)[1].disabled = true;*/
                    /*
                document.getElementsByName('blank_' + i)[1].setAttribute('class', "answer");
                document.getElementsByName('blank_' + i)[1].removeAttribute('id');
                document.getElementsByName('blank_' + i)[1].setAttribute('name', "answer_" + i);*/
                
                var newElement = document.createElement("span");
                var oldElement = document.getElementsByName('blank_' + i)[1];
                newElement.innerHTML = " " + document.getElementsByName('blank_' + i)[1].value + " ";
                newElement.style.color = "#2289B5";
                oldElement.parentNode.replaceChild(newElement, oldElement);

                i++;

                if (document.getElementsByName('blank_' + i).length === 0) {
                    exists = false;
                }
            }
        }
        
        function getGraphFeedback() {
            {% if interactionToDisplayed.interaction.type == "InteractionGraphic" %}
            var coords = "{{ interactionToDisplayed.coords[0].value }}".split(",");
            var width = {{ interactionToDisplayed.width }};
            var height = {{ interactionToDisplayed.height }};
            var shape = "{{ interactionToDisplayed.coords[0].shape }}";
            var color = "{{ interactionToDisplayed.coords[0].color }}";
            var size = {{ interactionToDisplayed.coords[0].size }};
            {% endif %}
            
            var imgsAnswer = document.getElementsByClassName("AnswerImage");
            
            for (var i=0; i<imgsAnswer.length; i++) {
                if (imgsAnswer[i].src.substr(-10,10) === "answer.png") {
                    var urlImg = imgsAnswer[i].src.split("answer.png")[0];
                }
            }
            
            var img = document.createElement("IMG");
            var p = document.createElement("P");
            
            if (shape == 'circle') {
                switch (color) {
                case 'black' :
                    url = urlImg + 'circleblack.png';
                    break;
                case 'white' :
                    url = urlImg + 'circlew.png';
                    break;

                case 'red' :
                    url = urlImg + 'circler.png';
                    break;

                case 'blue' :
                    url = urlImg + 'circleb.png';
                    break;

                case 'purple' :
                    url = urlImg + 'circlep.png';
                    break;

                case 'green' :
                    url = urlImg + 'circleg.png';
                    break;

                case 'orange' :
                    url = urlImg + 'circleo.png';
                    break;

                case 'yellow' :
                    url = urlImg + 'circley.png';
                    break;
                case 'brown' :
                    url = urlImg + 'circlebrown.png';
                     break;
                default :
                    url = urlImg + 'circleblack.png';
                    break;
                }

            } else if (shape == 'square') {
                switch (color) {
                case 'black' :
                    url = urlImg + 'squareblack.png';
                    break;

                case 'white' :
                    url = urlImg + 'squarew.png';
                    break;

                case 'red' :
                    url = urlImg + 'squarer.png';
                    break;

                case 'blue' :
                    url = urlImg + 'squareb.png';
                    break;

                case 'purple' :
                    url = urlImg + 'squarep.png';
                    break;

                case 'green' :
                    url = urlImg + 'squareg.png';
                    break;

                case 'orange' :
                    url = urlImg + 'squareo.png';
                    break;

                case 'yellow' :
                    url = urlImg + 'squarey.png';
                    break;

                case 'brown' :
                    url = urlImg + 'squarebrown.png';
                    break;

                default :
                     url = urlImg + 'squareblack.png';
                }
            }
            
            img.src = url;
            img.height = size;
            img.width = size;
            img.style.width = size + 'px';
            img.style.height = size + 'px';
            img.style.left = coords[0] + 'px';
            img.style.top = coords[1] + 'px';
            img.style.position = "absolute";
            img.style.marginTop = "30px";
            
            p.appendChild(img);
            
            document.getElementById("Answer").appendChild(p);
            
            document.getElementsByClassName("AnswerImage ui-draggable").className = "AnswerImage";
        }
        
        function getMatchFeedback() {
            
        }
        
        function getOpenFeedback() {
            
        }
    </script>
    
    <script type="text/javascript">
        //$(document).ready(function() {
            $('#Qnumber option[value="' + {{ numQ }} + '"]').attr('selected', 'selected');
        //});
    </script>

    {{ parent() }}
    
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', { 'domain': 'ujm_exo' }) }}"></script>

    <script type="text/javascript">
        var mssg             = "{{ "exercise_alert_break" | trans({}, 'ujm_exo') }}";
        var allowToInterrupt = "{{ dispButtonInterrupt }}";
        var interType        = "{{ interactionType }}";
    </script>

    {% if interactionType == 'InteractionGraphic' %}
        <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/graphicdisplay.js') }}"></script>
    {% elseif interactionType == 'InteractionMatching' %}
        {% if interactionToDisplayed.typeMatching.code == 2 %}
            <script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/dom.jsPlumb-1.7.2-min.js') }}"></script>
        {% endif %}
    {% endif %}

    {% include "UJMExoBundle:Partial:modal/confirmFinishExercise.html.twig" %}

{% endblock %}
