<link href="{{ asset('bundles/ujmexo/css/tableLayout.css') }}" type="text/css" rel="stylesheet"/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'qcm_creation' | trans({}, 'ujm_exo') }}</h3>
    </div>

    <form onsubmit="return check_form('{{ 'nbr_choices' | trans({}, 'ujm_exo') }}', '{{ 'answer_coched' | trans({}, 'ujm_exo') }}', '{{ 'label_empty' | trans({}, 'ujm_exo') }}', '{{ 'point_answers' | trans({}, 'ujm_exo') }}', '{{ 'point_answer' | trans({}, 'ujm_exo') }}', '{{ 'invite_question' | trans({}, 'ujm_exo') }}');"
          action="{{ path('ujm_interactionqcm_create') }}" method="post" {{ form_enctype(form) }}>

        <div class="panel-body">
            {% include "UJMExoBundle:Partial:question.html.twig" %}
            {% include "UJMExoBundle:Partial:interactions/qcm.html.twig" %}
            {% include "UJMExoBundle:Partial:model.html.twig" %}
            {% include "UJMExoBundle:Partial:cloneInterCreation.html.twig" %}
            {% include "UJMExoBundle:Partial:grammar/instructions.html.twig" %}
            {% include "UJMExoBundle:Partial:grammar/contents.html.twig" %}
            {% include "UJMExoBundle:Partial:restform.html.twig" %}
        </div>
        <div class="panel-footer">
            <input type="hidden" name="exercise" value="{{ exoID }}" />
            <button type="submit" id="button_submit" class="btn btn-primary" onclick="setOrder();">{{ 'create' | trans({}, 'ujm_exo') }}</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="{{ asset('bundles/frontend/jquery/jquery-ui-1.9.2/jquery-ui-1.9.2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/ext/jquery-ui-touch-punch.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/interactionQCM.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/category_pop.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ujmexo/js/hint.js') }}"></script>

{# functions javascript #}
{% if error is defined %}
    <script type="text/javascript">
        creationQCMEdit('{{ 'expected_answer' | trans({}, 'ujm_exo') }}', '{{ 'response' | trans({}, 'ujm_exo') }}', '{{ 'points' | trans({}, 'ujm_exo') }}', '{{ 'comment' | trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}', '{{ 'add_choice' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}', '{{ typeQCM|raw }}','{{ 'advanced_edition' | trans({}, 'ujm_exo') }}', 0);
        newHintEdit('{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'penalty' | trans({}, 'ujm_exo') }}', '{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}');
    </script>
{% else %}
    <script type="text/javascript">
        creationQCM('{{ 'expected_answer' | trans({}, 'ujm_exo') }}', '{{ 'response' | trans({}, 'ujm_exo') }}', '{{ 'points' | trans({}, 'ujm_exo') }}', '{{ 'comment' | trans({}, 'ujm_exo') }}', '{{ 'position_force' | trans({}, 'ujm_exo') }}', '{{ 'add_choice' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}','{{ 'advanced_edition' | trans({}, 'ujm_exo') }}' ,'{{ typeQCM|raw }}');
        newHint('{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'penalty' | trans({}, 'ujm_exo') }}', '{{ 'hint' | trans({}, 'ujm_exo') }}', '{{ 'delete' | trans({}, 'ujm_exo') }}');
    </script>
{% endif %}

<script>
	$(document).ready(function() {
            var collectionHolder = $('ul.contents');
            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
	    });
            
	    $("#add-content").on('click', function(e) {
	        e.preventDefault();
	        addTagForm(collectionHolder);
	    });
	});
                    
</script>

<script>
	$(document).ready(function() {
            var collectionHolder = $('ul.instructions');
            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
	    });
            
	    $("#add-instruction").on('click', function(e) {
	        e.preventDefault();
	        addTagForm(collectionHolder);
	    });
	});
</script>

<script>
	function addTagForm(collectionHolder) {
	    // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
	    var prototype = collectionHolder.attr('data-prototype');
	    console.log(prototype);
	    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
	    // la longueur de la collection courante
	    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
	    var newFormLi = $('<li class="list-group-item col-md-12"></div>').append(newForm);
	    collectionHolder.append(newFormLi);
	    addTagFormDeleteLink(newFormLi);
	}
	function addTagFormDeleteLink(tagFormLi) {
	    var $removeFormA = $('<a href="#">Supprimer</a>');
	    tagFormLi.append($removeFormA);
	    $removeFormA.on('click', function(e) {
	        // empêche le lien de créer un « # » dans l'URL
	        e.preventDefault();
	        // supprime l'élément li pour le formulaire de tag
	        tagFormLi.remove();
	    });
	}
</script>
